div.cover {
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 22, 111, 1), rgb(0, 0, 41));
    border-radius: 25px;
    margin: 10px;
}

img.cover {
    height: 100px;
    margin-top: 25px;
    margin-left: 25px;
}

html {
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("lg.png") no-repeat center center fixed, linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    font-family: Arial;
    animation: debut1 3s ease forwards;
}

p.title {
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-top: -90px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@keyframes debut1 {
    0% {
        opacity: 0; /* L'opacité au début de l'animation */
    }
    100% {
        opacity: 1; /* L'opacité à la fin de l'animation */
    }
}

p {
    color: white;
    width: 65%;
    text-align: left;
}

img {
    max-width: 65%;
    border-radius: 25px;
}

h1 {
    color: white;
    text-align: left;
    width: 65%;
}

h2 {
    color: white;
    text-align: left;
    width: 65%;
}
